{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

 {{ dump(users) }}
Bonjour je m'appel {{ users.prenom }} voir mon <a href="/profil">profil</a>.


{% endblock %}
